h1
{
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    text-decoration: underline ;
    text-align : center;
}

body
{
    background-color : rgb(243, 213, 174);
}

p
{
    text-align : center;
}

img
{
    position: absolute;
    top: 20px;
    right: 0;

    width: 100px;
    border-radius: 10%; 
}

h2, h3, h4
{
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    color : rgb(189, 95, 7);
    border: 3px rgb(146, 146, 255) dashed;
}

a
{
    font-family: Serif, sans-serif;
    text-decoration: underline rgb(0, 0, 0);
    color : rgba(50, 37, 168, 0.685);
    font-style : italic;
}

